/*********** GENERAL CUSTOMIZATION ***********/
/******************* START *******************/

* {
    font-family: 'Encode Sans Expanded', sans-serif;
}

a {
    text-decoration: none;
    color: #522aa7;
}

body {
    margin: 0;
    background-color: #eeeeee;
}

button {
    background-color: #522aa7;
    border: 1px solid #4213a7;
    color: #eeeeee;
    font-size: 1rem;
}

h2 {
    color: #3b3b3b;
    text-align: center;
    margin: 1rem auto;
}

p {
    color: #3b3b3b;
    text-align: center;
}

.title {
    background-color: #522aa7;
    height: 3rem;
    padding: 1rem 0;
}
.title a h1{
    color: #eeeeee;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

/* Create a custom checkbox */
.checkmark {
    background-color: #ccc;
    margin-left: 1rem;
    position: absolute;
    height: 25px;
    width: 25px;
  }
  .favorite-box {
      display: none;
  }
  /* On mouse-over, add a grey background color */
  .favorite:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .favorite input:checked ~ .checkmark {
    background-color: #522aa7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .favorite input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .favorite .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/*********** GENERAL CUSTOMIZATION ***********/
/******************** END ********************/




/*************** SIGN IN PAGE ****************/
/******************* START *******************/

.form {
    margin: 2rem auto;
    width: 90%;
    text-align:center;
}

.form input {

    border: none;
    border-bottom: 1px solid #737179;
    color: #3b3b3b;
    font-size: 1rem;
    margin: 0.5rem auto;
    text-align: center;
    width: 100%;
}

.form input:focus {
    border: none;
    border-bottom: 1px solid #522aa7;
}

.signup {
    color: #3b3b3b;
    font-size: 1rem;
    padding-right: 5%;
    text-align: right;
}

/*************** SIGN IN PAGE ****************/
/******************** END ********************/




/***************** HOME PAGE *****************/
/******************* START *******************/

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.menu-button {
    background-color: #522aa7;
    font-size: 2rem;
    text-align: center;
}

.menu-button span a {
    color: #eeeeee;
    padding: 1rem 0;
}

body > header > nav > div.menu > div:nth-child(5) > form > button {
    background-color: none;
    border: none;
    color: #eeeeee;
    font-size: 2rem;
    padding: 0;
}

.dashboard {
    border-bottom: 1px solid #522aa7;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.dashboard-field {
    background-color: #522aa7;
    color: #eeeeee;
    font-size: 1rem;
}
.details {
    width: 90%;
    margin: auto;
}
.detail-title {
    margin-top: 3rem;
    border: 1px solid #522aa7;
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.detail-title div h3 {
    text-align: center;
}

.detail-title div span a i {
    font-size: 2rem;
    margin: 1rem 0;

}

a i.fas {
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
}
.details p {
    border-bottom: 1px solid #7371796b;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.details div p {
    border-bottom: none;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

body > section > div > div > p > span > a {
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #3b3b3b;
}
body > section > div > div > p > span > a:hover {
    color: #6495ff;
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    float: left;
}

.item div {
    float: left;
}
/***************** HOME PAGE *****************/
/******************** END ********************/




/***************** HELP PAGE *****************/
/******************* START *******************/

.help-container {
    margin: 2rem auto;
    width: 90%;
}

.help {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
}

.help div:first-child {
    background-color: #522aa7;
    color: #eeeeee;
    font-size: 2rem;
}

.help div:nth-child(2) {
    padding: 1rem 0;
}

/***************** HELP PAGE *****************/
/******************** END ********************/

